/*---Footer---*/
.site-footer {
	text-align: center;
	padding: 3px 0 42px;

	.container {
		border-top: 1px solid #1a5779;
	}

	.site-footer__copyright {
		font: 400 12px/20px "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}
