p {
	margin: 0 0 20px;
}

h1,
.a-head {
	font: normal 600 2.25em/30px "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 20px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

h2,
.b-head {
	font: normal 500 2.125em/30px "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 20px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

h3,
.c-head{
	font: normal 500 1.5em/30px "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 20px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}
h4,
.d-head {
	font: italic 400 1.5em/30px "ff-meta-serif-web-pro", Georgia, Time New Roman, serif;
	margin: 0 0 10px;
	color: #79211a;
}

h5,
.e-head {
	font: normal 500 1.125em/20px "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
}

h6,
.f-head {
	font: normal 500 0.9375em/20px "ff-meta-serif-web-pro", Georgia, Time New Roman, serif;
	margin: 0 0 10px;
}
